/******************************************
# RESET
******************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;

  font-family: "Roboto", sans-serif;
}



/******************************************
# CUSTOM PROPERTIES
******************************************/

:root {
  --primary-color: white;

  --secondary: rgb(255, 0, 0);
  --secondary-l: rgb(207, 0, 0);

  --space-l: 3rem;
  --space-m: 2rem;
  --space-s: 1rem;

  --main-bg: rgb(26, 26, 26);
  --dark-bg: rgb(17, 17, 17);

  --grey-l: rgb(190, 190, 190);
  --grey-m: rgb(77, 77, 77);
  --grey-d: rgb(43, 43, 43);

  --container-l: 1000px;
  --container-m: 750px;
  --container-s: 300px;

  --results-gap-l: 50px;
  --results-gap-m: 40px;
  --results-gap-s: 20px;

  --card-w-l: 299px;
  --card-w-m: 300px;
  --card-w-s: 300px;
}



/******************************************
# UTILITY
******************************************/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  width: var(--container-l);
  margin: auto;
}

.link {
  color: var(--primary-color);
}

.button {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;
  padding: .5rem 1rem;
  border: 2px solid var(--grey-l);
  border-radius: 25px;
  background-color: var(--main-bg);
}

.button.secondary {
  border: 2px solid var(--secondary-l);
}

.input {
  cursor: pointer;
  color: var(--primary-color);
  padding: .5rem 1rem;
  border: 2px solid var(--grey-l);
  border-radius: 25px;
  background-color: var(--main-bg);
}

.hidden {
  display: none;
}



/******************************************
# OVERFLOW SCROLLBAR
******************************************/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey-m);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-l);
}



/******************************************
# GENERAL
******************************************/

body {
  background-color: var(--main-bg);
  color: var(--primary-color);
}

header {
  background-color: var(--dark-bg);
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

footer {
  color: var(--grey-l);
  background-color: var(--dark-bg);
  font-weight: medium;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

h1 {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}



/******************************************
# HOME
******************************************/

.brand {
  font-size: 1.5rem;
  color: var(--secondary);
}

.resultsSection {
  display: flex;
  flex-wrap: wrap;
  gap: var(--results-gap-l);
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.card {
  color: var(--primary-color);
  position: relative;
}

.cardImageContainer {
  width: var(--card-w-l);
  aspect-ratio: 1 / 1.4;

  position: relative;
  overflow: hidden;
}

.cardImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-s);
  text-align: center;
  gap: var(--results-gap-s) / 2;
}

.cardStars {
  color: goldenrod;
  font-size: 1.3rem;
}



/******************************************
# FILTERS
******************************************/

.filterControl {
  display: flex;
  justify-content: space-between;

  padding-top: var(--space-s);
  padding-bottom: var(--space-s);

  border-top: 1px solid var(--grey-m);
  border-bottom: 1px solid var(--grey-m);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);
}



/******************************************
# MOVIE DETAILS
******************************************/

.showMovie {
  position: relative;
}

.movieDetails {
  display: flex;
  gap: var(--space-l);

  padding-top: var(--space-l);
  padding-bottom: var(--space-l);

  border-bottom: 1px solid var(--grey-m);
  margin-bottom: var(--space-l);
}

.movieDetailsImageContainer {
  width: 30%;
  aspect-ratio: 1 / 1.4;

  position: relative;
  overflow: hidden;
}

.movieDetailsImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieDetailsContent {
  display: flex;
  flex-direction: column;

}

.movieDetailsContent h2 {
  font-size: 2rem;
  padding-bottom: var(--space-s);
}

.movieDetailsContent .cardStars {
  font-size: 2rem;
  color: goldenrod;
  padding-bottom: var(--space-m);
}

.movieDetailsContent p {
  font-size: 1.2rem;
  color: var(--grey-l);
  padding-bottom: var(--space-s);
}

.movieDetailsButtons {
  display: flex;
  justify-content: start;
  gap: var(--space-s);
  margin-top: var(--space-m);
}

.showMovie .input {
  font-weight: bold;
}



/******************************************
# REVIEWS
******************************************/

.showMovie h3 {
  padding-bottom: var(--space-m);
}

.reviewsContainer {
  display: flex;
  overflow-x: auto;
  gap: var(--space-l);
  white-space: nowrap;
  padding-bottom: var(--space-m);
  margin-bottom: var(--space-l);
}

.review {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: var(--space-m);

  min-width: 20vw;
  max-width: 35vw;
  height: auto;

  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  background-color: var(--grey-d);

  overflow-y: auto;
}

.reviewName {
  display: flex;
  gap: var(--space-s);
  justify-content: start;
  align-items: center;
}

p.reviewText {
  text-wrap: wrap;
  line-height: 1.4rem
}



/******************************************
# STORE REVIEW FORM
******************************************/

.reviewFormContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin-bottom: var(--space-l);
  padding: var(--space-m);

  border: 2px solid var(--secondary);
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

.reviewFormInputsContainer {
  display: flex;
  gap: var(--space-s);
}

.reviewFormContainer .input {
  min-width: 33%px;
}

.reviewFormContainer .flexGrow {
  flex-grow: 1;
}

.reviewFormButtonsContainer {
  display: flex;
  gap: var(--space-s)
}



/******************************************
# DEBUG
******************************************/

.debug {
  padding: 1rem;
  background-color: aqua;
  color: black;
  border: 2px solid rgb(255, 0, 0);
}